* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
}
.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 3% 5%;
  z-index: 10;
}

.navbar_netflix {
  width: 140px;
  height: 100%;
}

.navbar_nav_items {
  display: flex;
  gap: 15px;
}

.netflix_logo {
  width: 100%;
  height: 100%;
}
.language_drop_down {
  background: transparent;
  color: white;
  border: none;
}

.dropdown_container {
  border: 1px solid wheat;
  padding: 0.4rem;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.4);
}

.signin_button {
  color: white;
  border: #dc030f;
  background-color: #dc030f;
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  height: 35px;
  width: 100px;
}

.hero_bg_image_container {
  width: 100%;
  height: 100%;
}

.hero_bg_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero_bg_overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 130%;
  background: rgba(0, 0, 0, 0.4);
}

.hero_card {
  position: absolute;
  top: 36%;
  left: 25%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero_title {
  font-weight: 600;
  font-size: 3rem;
}

.hero_subtitle,
.hero_description {
  font-weight: 400;
  font-size: 1.3rem;
}

.email {
  width: 450px;
  height: 60px;
  color: black;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-size: 20px;
  border-color: white;
}

.Get_Started {
  color: white;
  font-size: large;
  width: 120px;
  height: 60px;
  background-color: #dc030f;
  border: 1px solid #dc030f;
}

.card-1,
.card-2,
.card-3,
.card-4 {
  border-top: 8px rgb(69, 69, 69);
  padding: 50px;
}
.card-1 {
  position: relative;
  display: inline-grid;
  grid-template-columns: 50% 40%;
  text-align: left;
  align-items: center;
  padding: 25px 45px 50px;
}

.desc-1 {
  padding-left: 70px;
}
.card-1 video {
  position: relative;
  width: 100%;
  height: 54%;
  grid-column: 8/2;
  grid-row: 1/2;
  z-index: -1;
}
.card-1 img {
  grid-column: 2/2;
  grid-row: 1/2;
}

.style-cards h1 {
  font-size: 3rem;
  padding: 1rem;
  padding-left: 0;
}

.style-cards h3 {
  font-size: 1.6rem;
  line-height: 2rem;
}

.card-2 {
  position: relative;
  display: inline-grid;
  grid-template-columns: 50% 40%;
  text-align: left;
  align-items: center;
  padding: 25px 45px 50px;
}

.desc-2 {
  padding-left: 100%;
}

.card-3 {
  position: relative;
  display: inline-grid;
  grid-template-columns: 50% 40%;
  text-align: left;
  align-items: center;
  padding: 25px 45px 50px;
}

.desc-3 {
  padding-left: 80px;
  padding-right: 20px;
}

.card-3 img {
  width: 110%;
  grid-column: 2/2;
  grid-row: 1/2;
}

.card-3 video {
  position: relative;
  top: -87px;
  left: 120px;
  width: 65%;
  height: 78%;
  grid-column: 2/2;
  grid-row: 1/2;
  z-index: -1;
}

.card-4 {
  position: relative;
  display: inline-grid;
  grid-template-columns: 50% 40%;
  text-align: left;
  align-items: center;
  padding: 25px 45px 50px;
}

.footer,
.footer a {
  color: #999;
  font-size: 0.9rem;
}

.footer p {
  margin-bottom: 1.5rem;
  padding-left: 70px;
}

.footer .footer-cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.6rem;
  padding-left: 70px;
}

.footer li {
  line-height: 1.9;
}

.but {
  color: white;
  font-size: 40px;
  margin-bottom: 20px;
}
.but1,
.but2,
.but3,
.but4,
.but5,
.but6 {
  margin-left: 27%;
  font-size: 30px;
  padding: 10px;
  padding-right: 200px;
  color: white;
  background-color: rgb(69, 69, 69);
  margin-bottom: 6px;
}
.but1 {
  padding-right: 396px;
}
.but3 {
  padding-right: 322px;
}
.but4 {
  padding-right: 356px;
}
.but5 {
  padding-right: 222px;
}
.but6 {
  padding-right: 274px;
}
.freq {
  margin-left: 27%;
  margin-bottom: 30px;
  font-size: 43px;
  padding: 10px;
  gap: 40px;
}

.ready {
  margin-top: 20px;
  margin-left: 220px;
  margin-bottom: 20px;
  border-top: 8px rgb(69, 69, 69);
}

.readytowatch {
  margin-top: 50px;
  margin-left: 150px;
}

.email2 {
  width: 450px;
  height: 60px;
  color: black;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-size: 20px;
  border-color: white;
  margin-left: 135px;
  margin-top: 20px;
  margin-bottom: 50px;
}
